.navigationButtonContainer {
    display: flex;
    max-width: 1200px;
    justify-content: flex-end; 
    margin: 0 auto;
    margin-bottom: 16px;
}

.navigationButton {
    background-color: #AB0000;
    width: 128px;
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 180px;
    color: #FFF;
    font-size: 16px;
    font-family: Nunito;
    font-weight: 600;
    line-height: 100%;
}

.iconNavigation{
    margin-right: 12px;
}

@media screen and (max-width: 767px) {
    .navigationButtonContainer {
        display: none;
    }
}