.menu {
    width: 375px;
    height: 812px;
    background-color: #FFF;
    margin: 0 auto;
    position: absolute;
    top: 72px;
    z-index: 1;
    left: 0;
}

.formDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 52px;
}

.search {
    display: flex;
    align-items: center;
}

.input {
    padding: 0;
    width: 300px;
    height: 44px;
    font-size: 16px;
    border: none;
    border-radius: 8px 0 0 8px;
    background: #9595951a;
    outline: none;
}

.input::placeholder {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 500;
    color: #959595;
    padding-left: 16px;
    padding-right: 51px;
    line-height: 100%;
}

.buttonSearch {
    height: 44px;
    width: 44px;
    border-radius: 0 8px 8px 0;
    background: #AB0000;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    padding: 0;
}


.menuNavigation {
    max-width: 345px;
    margin: 0 auto;
}

.menuNavigationItem:not(:last-child) {
    margin-bottom: 24px;
}

.iconContainerMenu {
    display: flex;
    align-items: center;
}

.iconMenuNavigation {
    margin-right: 12px;
}

.svgTitleMenu {
    color: #1A1A1A;
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.menuLine {
    max-width: 345px;
    height: 1px;
    background: #09152412;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.menuPhone {
    max-width: 345px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.menuTitle {
    color: #1A1A1A;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%; 
    margin-left: 8px;
}

.menuIconPhone {
    display: flex;
    align-items: center;
}

.menuIconList {
    display: flex;
    max-width: 345px;
    margin: 0 auto;
}

.menuItem {
    margin-right: 16px;
}

