.modalContent {
    background-color: #FFFFFF;
    max-width: 480px;
    margin: 0 auto;
}

.titleButton {
    color: #000;
    font-family: Nunito;
    font-size: 41px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    margin-top: 72px;
    margin-bottom: 48px;
}

.modalBody label {
    display: flex;
    align-items: center;
}

.phoneCheckbox {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 285px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

.phoneCheckbox::placeholder {
    color: #95959533;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

.labelBody {
    color: #959595;
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 6px;
}

.text {
    width: 348px;
    color: #000;
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 24px;
}

.redText {
    color: #AB0000;
}

.modalFooter {
    text-align: center;
    margin-bottom: 24px;
}

.submitButton {
    width: 480px;
    padding: 16px 0px;
    background-color: #AB0000;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.submitButtonTitle {
    color: #FFF;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
}

.registerButton {
    cursor: pointer;
    text-align: center;
    color: #AB0000;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 83px;
}

@media screen and (max-width: 767px) {
    .modalContent {
        max-width: 345px;
    }

    .titleButton {
        font-size: 26px;
        text-align: start;
        margin-top: 48px;
        margin-bottom: 24px;
    }

    .phoneCheckbox {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 18px;
        padding-right: 156px;
        margin-bottom: 16px;
    }

    .text {
        width: 320px;
        font-size: 10px;
        margin-bottom: 24px;
    }

    .submitButton {
        width: 345px;
    }

    .registerButton {
        margin-bottom: 93px;
    }

}
